{% extends 'base.html' %}

{% block content %}
<div class="p-5 mb-4 bg-white rounded-3 shadow border text-center">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-success">Benvenuto nella FANTALEGA VsC</h1>
        <p class="col-md-8 mx-auto fs-4">Il portale ufficiale per ammirare l'Albo d'oro e rivivere la storia della nostra Fantalega.</p>
        <hr class="my-4">
        <a href="/trophies/" class="btn btn-primary btn-lg mt-3">Vai all'Albo d'Oro</a>
        <a href="{% url 'storia' %}" class="btn btn-outline-secondary btn-lg mt-3"> Storia Fantalega</a>

    </div>
</div>
{% endblock %}